body {
  background: rgba(var(--dark_bg));
  color: #fff;
}

main {
  max-width: var(--max_width);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

@font-face {
  font-family: "Semakin";
  src: url("../assets/fonts/Semakin.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.gosth {
  height: 7rem;
}

.primaryBtn {
  width: 100%;
  max-width: 26rem;
  background: rgba(var(--purple));
  /* max-height: 5.4rem; */
  /* height: 100%; */
  border-radius: 1.2rem;
  justify-content: center;
}

.title {
  font-family: "Semakin";
  letter-spacing: .4rem;
  text-shadow: 0 0 .5rem rgba(0,0,0,.9);
}

.social_link.logo_linkedin::after {
  background: #0E76A8;
  box-shadow: 0 0 1.5rem #0E76A8;;
}
.social_link.logo_github::after {
  background: rgba(var(--purple));
  box-shadow: 0 0 1.5rem rgba(var(--purple));
}
.social_link.logo_youtube::after {
  background: #C3352E;
  box-shadow: 0 0 1.5rem #C3352E;;
}
.social_link.logo_x::after {
  background: #FFF;
  box-shadow: 0 0 1.5rem #FFF;
}

@media (min-width: 767px) {
  .social_link.logo_linkedin::after {
    box-shadow: none;
    transition: .6s all ease;
  }
  .social_link.logo_github::after {
    box-shadow: none;
    transition: .6s all ease;
  }
  .social_link.logo_youtube::after {
    box-shadow: none;
    transition: .6s all ease;
  }
  .social_link.logo_x::after {
    box-shadow: none;
    transition: .6s all ease;
  }

  .social_link.logo_linkedin:hover::after {
    box-shadow: 0 0 1.5rem #0E76A8;;
  }
  .social_link.logo_github:hover::after {
    box-shadow: 0 0 1.5rem rgba(var(--purple));
  }
  .social_link.logo_youtube:hover::after {
    box-shadow: 0 0 1.5rem #C3352E;;
  }
  .social_link.logo_x:hover::after {
    box-shadow: 0 0 1.5rem #FFF;;
  }
}





footer {
  height: 7rem;
}
