body {
  background: rgba(var(--dark_bg));
  color: #fff;
}

main {
  max-width: var(--max_width);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.gosth {
  height: 7rem;
}

.primaryBtn {
  width: 100%;
  max-width: 26rem;
  background: rgba(var(--purple));
  /* max-height: 5.4rem; */
  /* height: 100%; */
  border-radius: 1.2rem;
  justify-content: center;
}
