:root {
  --react: #61DBFB;
  --html: #E44D26;
  --css: #264DE4;
  --js: #F7DF1E;
  --ts: #1035BC;
  --django:#092E20;
  --git: #DE4C36;
  --docker: #2396ED;
  --postgres: #336791;
}
.skillsSection {
  padding: 3rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  width: 100%;
  padding: 6rem 0 3rem 0;
  font-size: clamp(1.8rem, 5vw, 2.2rem);
}
.titleSection {
  font-size: clamp(2.4rem, 5vw, 3.2rem);
  padding-bottom: 4rem;
}
.cardsContainers {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  width: min(100%, 90rem);
  padding: 3rem;
}
.skillCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-end;
  width: 14rem;
  /* height: 14rem; */
  background: rgba(var(--jet));
  border-radius: 1.8rem;
  gap: 1rem;
  transition: .4s ease;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.4rem;
  border: .2rem solid rgba(0,0,0,.3);
  /* background: red; */
}
.skillCard:hover {
  /* animation: .4s cardHoverBorder ease forwards; */
}

.skillCard picture {
  /* width: 16rem; */
  height: 9rem;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.skillCard picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: .4s ease;
}
.skillCard:hover picture img {
  transform: scale(1.2);
}
.skillCard p {
  position: relative;
  width: 100%;
  border: .3rem solid transparent;
  margin-top: auto;
  padding: .6rem;
  transition: .4s all ease;
  z-index: 0;
  color: rgba(var(--alabaster));
}
.skillCard p::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -.5rem;
  height: 110%;
  width: 110%;
  background: transparent;
  color: rgba(255,255,255);
  transition: .4s ease;
  /* border-top: .2rem solid rgba(var(--xanthous),.7); */
}
.skillCard:hover p::before {
  top: 0;
  z-index: -1;
}
.css picture,
.html picture {
  height: 10rem;
}
.html p::before {
  background: var(--html);
}
.css p::before {
  background: var(--css);
  color: rgba(255,255,255);
}
.skillCard.js p {
  color: rgba(0,0,0);
}
.js p::before {
  background: var(--js);
}
.ts p::before {
  background: var(--ts);
  color: rgba(255,255,255);
}
.skillCard.react p {
  color: rgba(0,0,0);
}
.react p::before {
  background: var(--react);
  color: rgba(255,255,255);
}
.django p::before {
  background: var(--django);
  color: rgba(255,255,255);
}
.skillCard.python p {
  color: rgba(0,0,0);
}
.python p::before {
  background: rgb(55,115,165);
  background: linear-gradient(90deg, rgba(55,115,165,1) 0%, rgba(255,209,65,1) 100%);
}
.git p::before {
  background: var(--git);
}
.github p::before {
  background: rgb(var(--royal-purple));
  background: linear-gradient(90deg, rgb(0,0,0,.7) 0%, rgb(var(--royal-purple))  100%);
}
.skillCard.docker p {
  color: rgba(0,0,0);
}
.docker p::before {
  background: var(--docker)
}
.skillCard.postgresql p {
  color: rgba(0,0,0);
}
.postgresql p::before {
  background: rgb(var(--royal-purple));
  background: linear-gradient(90deg, var(--postgres) 25%, rgba(var(--alabaster)), 75%, rgb(0,0,0)  100%);
}

@keyframes cardHoverBorder {
  10% {
    border: .2rem solid rgba(0,0,0,.7);
  }
  40% {
    border: .2rem solid rgba(0,0,0,.1);
  }
  70% {
    border: .2rem solid rgba(var(--xanthous),.1);
  }
  100% {
    border: .2rem solid rgba(var(--xanthous),.7);
  }
}