:root {
  /* SOCIAL COLORS */
  --linkedin: 14, 118, 168;
  --youtube: 195, 53, 46;
  --github: 120, 60, 120;
  --x: 255, 255, 255;

  --max_width: 105.1rem;

}
html.light {
  --max_width: 105.1rem;

  /* COLORS  */
  --bg: 220, 224, 226;
  --inverse:19,21,26;
  --text: 41,41,41;
  --nav: 26, 117, 159;
  --focus: 253, 163, 18;
  --white: #FFF;
  --dark: #000;
  /* --dark_bg: 34, 34, 34;
  --light_bg: 255, 255, 255;
  --blue: 28, 91, 151;
  --green: 51, 115, 87;*/
  --orange: 252, 191, 5;
  --purple: 120, 81, 177;
  --pink: 203, 72, 183;
  --blue: 35, 90, 125;
  --yellow: 255, 207, 150;


  /* FONTS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
html.dark {
  --max_width: 105.1rem;

  /* COLORS  */
  --bg: 19,21,26;
  --inverse:229, 229, 229;
  --text: 255,255,255;
  --nav: 34, 34, 34;
  --focus: 253, 163, 18;
  --white: #FFF;
  --dark: #000;
  /* --dark_bg: 34, 34, 34;
  --light_bg: 255, 255, 255;
  --blue: 28, 91, 151;
  --green: 51, 115, 87;*/
  --orange: 252, 191, 5;
  --purple: 120, 81, 177;
  --pink: 203, 72, 183;
  --blue: 45, 70, 85;
  --yellow: 70, 70, 23;



  /* FONTS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
