:root {
  --react: #61DBFB;
  --html: #E44D26;
  --css: #264DE4;
  --js: #F7DF1E;
  --ts: #1035BC;
  --django:#092E20;
  --git: #DE4C36;
  --docker: #2396ED;
  --postgres: #336791;
}
.skillsSecction {
  padding: 3rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  width: 100%;
}
.cardsContainers {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: min(100%, 80rem);
  padding: 3rem;
}
.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14rem;
  height: 15rem;
  background: rgba(var(--royal-purple),.1);
  border-radius: 1rem;
  border: .2rem solid rgba(var(--royal-purple),.1);
  /* transition: .4s ease; */
  overflow: hidden;
}
.skillCard:hover {
  animation: .4s cardHoverBorder ease forwards;
}

.skillCard picture {
  padding: 1rem;
  width: 14rem;
  height: 11rem;
  display: flex;
  justify-content: center;
}
.skillCard picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
  transition: .4s ease;
}
.skillCard:hover picture img {
  transform: scale(.9);
}
.skillCard p {
  position: relative;
  width: 100%;
  border: .3rem solid transparent;
  margin-top: auto;
  color: #000;
  /* border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem; */
  padding: .6rem;
  /* background: #000; */
  color: rgba(var(--alabaster));
  transition: .4s all ease;
  /* border-top: .2rem solid rgba(var(--royal-purple)); */
}
.skillCard p::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 120%;
  left: -.5rem;
  height: 110%;
  width: 110%;
  background: transparent;
  color: rgba(255,255,255);
  transition: .4s ease;
  /* border-top: .2rem solid rgba(var(--xanthous),.7); */
}
.skillCard:hover p::after {
  top: 0;
}

.html p::after {
  background: var(--html);
}
.css p::after {
  background: var(--css);
  color: rgba(255,255,255);
}
.skillCard.js:hover p {
  color: rgba(0,0,0);
}
.js p::after {
  background: var(--js);
}
.ts p::after {
  background: var(--ts);
  color: rgba(255,255,255);
}
.skillCard.react:hover p {
  color: rgba(0,0,0);
}
.react p::after {
  background: var(--react);
  color: rgba(255,255,255);
}
.django p::after {
  background: var(--django);
  color: rgba(255,255,255);
}
.skillCard.python:hover p {
  color: rgba(0,0,0);
}
.python p::after {
  background: rgb(55,115,165);
  background: linear-gradient(90deg, rgba(55,115,165,1) 0%, rgba(255,209,65,1) 100%);
}
.git p::after {
  background: var(--git);
}
.github p::after {
  background: rgb(var(--royal-purple));
  background: linear-gradient(90deg, rgb(0,0,0,.7) 0%, rgb(var(--royal-purple))  100%);
}
.skillCard.docker:hover p {
  color: rgba(0,0,0);
}
.docker p::after {
  background: var(--docker)
}
.skillCard.postgresql:hover p {
  color: rgba(0,0,0);
}
.postgresql p::after {
  background: rgb(var(--royal-purple));
  background: linear-gradient(90deg, var(--postgres) 25%, rgba(var(--alabaster)), 75%, rgb(0,0,0)  100%);
}

@keyframes cardHoverBorder {
  10% {
    border: .2rem solid rgba(0,0,0);
  }
  60% {
    border: .2rem solid rgba(0,0,0,.1);
  }
  100% {
    border: .2rem solid rgba(var(--xanthous),.7);
  }
}