.header_container {
  display: flex;
  height: 6rem;
  width: 100%;
  position: relative;
  padding: .8rem 3rem;
  position: fixed;
  z-index: 1;
  transition: .5s;
  align-items: center;
}
.logoContainer {
  /* background: red; */
  width: 4.5rem;
  height: 4.5rem;
  background: #000;
  border-radius: 50%;
  border: .2rem solid rgba(255,255,255);
  position: relative;
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 6.3rem;
  left: 100%;
  width: 100%;
  height: calc(100vh - 6.3rem);
  background: rgba();
  background: var(--jet);
  box-shadow: 0 10px 16px -6px rgba(5,5,5, .3);
  animation: ease .4s leftBack forwards;
}
.navActive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 6.3rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6.3rem);
  background: rgba();
  background: var(--jet);
  box-shadow: 0 10px 16px -6px rgba(5,5,5, .3);
  animation: ease .4s left forwards;
}
 
.navActive a {
  padding: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.navActive .active {
  background: #333;
  font-weight: normal;
  color: var(--xanthous);
}

.flagsContainer {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.flagsContainer div {
  margin: 0 .3rem;
  padding: .8rem;
  filter: contrast(65%);
  cursor: pointer;
}

@keyframes left {
  0% {
    left: 100%;
  }
  100% {
      left: 0;
  }
}
@keyframes leftBack {
  0% {
    left: 0;
  }
  100% {
      left: 100%;
  }
}