.header_container {
  display: flex;
  height: 6rem;
  width: 100%;
  position: relative;
  padding: .8rem 3rem;
  position: fixed;
  z-index: 1;
  transition: .5s;
  align-items: center;
  background: rgba(var(--jet));
  box-shadow: 0 10px 16px -6px rgba(5,5,5, .9);
}
/* .header_container.down {
  backdrop-filter: blur(1rem);
  background: rgba(var(--jet),.7);  
} */
.logoContainer {
  width: 4.5rem;
  height: 4.5rem;
  background: #000;
  border-radius: 50%;
  border: .2rem solid rgba(255,255,255);
  position: relative;
}
.navWrapper {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  left: 100%;
  top: 5.9rem;
  left: 0;
  height: calc(100vh - 6.3rem);
  background: rgba(3,3,3,.2);
  animation: ease .4s leftBack forwards;
}
.navWrapperActive {
  display: flex;
  position: absolute;
  left: 0;
  backdrop-filter: blur(1rem);
  background: rgba(3,3,3,.7);
  box-shadow: 0 10px 16px -6px rgba(5,5,5, .3);
  animation: ease .4s left forwards;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 6.3rem);
  background: var(--jet);
  box-shadow: 0 10px 16px -6px rgba(5,5,5, .3);
}
 
.nav a {
  padding: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
}
.nav .active {
  background: #333;
  font-weight: normal;
  color: rgba(var(--xanthous));
}

.flagsContainer {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.flagsContainer div {
  margin: 0 .3rem;
  padding: .8rem;
  filter: contrast(65%);
  cursor: pointer;
}

@keyframes left {
  0% {
    left: 100%;
  }
  100% {
      left: 0;
  }
}
@keyframes leftBack {
  0% {
    left: 0;
  }
  100% {
      left: 100%;
  }
}


@media (min-width: 760px) {
  .nav {
    width: min(100%,50%);
  }
}

@media (min-width: 980px) {
  .header_container.down {
    background: rgba(var(--jet),.5);
    backdrop-filter: blur(1.5rem);
    box-shadow: 0 10px 16px -6px rgba(5,5,5, .3);
  }
  .navWrapper, .navWrapperActive {
    display: flex;
    background: none;
    position: relative;
    height: auto;
    top: 0;
    backdrop-filter: none;
    animation: none;
    box-shadow: none;
  }
  .nav {
    flex-direction: row;
    height: auto;
    width: auto;
    box-shadow: none;
    background: none;
  }
  .nav a {
    font-size: 1.4rem;
    font-weight: 100;
    padding: .5rem;
    margin-right: 2.5rem;
    border: .1rem solid transparent;
  }
  .nav a:hover {
    transition: .4s all ease;
    color: rgba(var(--xanthous),.7);
    border-bottom: .1rem solid rgba(var(--xanthous),.7);
  }
  .nav .active {
    background: none;
    border-bottom: .1rem solid rgba(var(--xanthous));
  }
  .nav .flagsContainer {
    /* height: 2.5rem; */
  }
  .nav .flagsContainer div {
    display: flex;
    height: 100%;
    width: 2.5rem;
    padding: 0;
  }
}