---
import Ornaments from '@/icons/Ornaments.astro'
import {useTranslations, getLangFromUrl} from '@/i18n/utils.ts'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="about">

  <div class="container">
    <h3 class="title">{t('about.title')}</h3>
    <div class="content">
      <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex neque doloremque, dolore deleniti aliquid nihil a! Suscipit blanditiis necessitatibus sapiente possimus odio incidunt velit sed nulla? Incidunt ab, sint, magnam accusantium labore eum porro maxime mollitia in deserunt asperiores ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex neque doloremque, dolore deleniti aliquid nihil a! Suscipit blanditiis necessitatibus sapiente possimus odio incidunt velit sed nulla? Incidunt ab, sint, magnam accusantium labore eum porro maxime mollitia in deserunt asperiores ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex neque doloremque, dolore deleniti aliquid nihil a! Suscipit blanditiis necessitatibus sapiente possimus odio incidunt velit sed nulla? Incidunt ab, sint, magnam accusantium labore eum porro maxime mollitia in deserunt asperiores ratione.</p>
      </div>
      <picture></picture>
    </div>
  </div>
</section>


<style>
  #about {
    display: flex;
    justify-content: center;
    position: relative;
    /* position: relative; */
    padding-bottom: 4rem;
  }
  #about::before,
  #about::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    /* height: 100%; */
    width: 281%;
    background: rgba(var(--inverse), .3);
    transform: rotate(4deg);
  }
  #about::after {
    background: rgba(var(--bg));
    height: 2rem;
    top: 2rem;
  }
  .container {
    width: 100%;
    max-width: var(--max_width);
    padding: 6rem 2rem;
    position: relative;
    z-index: 1;
  }
  .content {
    display: grid;
    grid-auto-flow: column;
    z-index: 1;
    padding: 2rem;
    border-radius: 1.2rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .title {
    font-size: clamp(3.8rem, 5vw, 6.5rem);
    /* text-shadow: 0 0 1rem rgba(0,0,0, .8); */
  }
  @media (min-width: 767px) {
    .content {
      grid-template-columns: 1fr minmax(40rem, auto);
    }
  }
</style>
