---
import LogoKP from '@/icons/LogoKP.astro'
import OptionsPage from '@/components/OptionsPage.astro'
import NavMenu from '@/components/NavMenu.astro'
import {useTranslations, getLangFromUrl} from '@/i18n/utils.ts'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar">
  <div class="container">
    <!-- LOGO PICTURE -->
    <picture id="navbarLogo" class="logoContainer">
      <LogoKP/>
    </picture>

    <!-- MENU CONTAINER -->
    <NavMenu myClass={"navbar"}/>

    <!-- OPTIONS CONTAINER -->
    <OptionsPage/>

  </div>
</nav>
<NavMenu myClass={"mobile"}/>


<style>
  .navbar {
    height: 6rem;
    display: flex;
    width: 100vw;
    background: rgba(var(--bg), .8);
    backdrop-filter: blur(.5rem);
    /* box-shadow: 0 0 1rem rgba(var(--text), .2);
    border: .1rem solid red; */
    box-shadow: 0 0 1rem rgba(0,0,0, .9);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    max-width: var(--max_width);
    margin: 0 auto;
    /* border: .1rem solid green; */
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .logoContainer {
    height: 100%;
    display: flex;
    width: 4rem;
    height: 4rem;
    background: rgba(var(--inverse));
    border-radius: 50%;
    transition: .3s all ease;
    border: .2rem solid rgba(var(--inverse));
    margin-right: auto;
  }
  .logoContainer.light {
    background: rgba(var(--bg));
  }
</style>