@font-face {
  font-family: advent;
  src: url('../public/fonts/AdventPro.woff2');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(var(--alabaster));
  background-color: rgba(var(--eerie-black));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --eerie-black: 31, 31, 31;
  --jet: 41, 41, 41;
  --royal-purple: 120, 81, 177;
  --xanthous:230, 175, 46;
  --alabaster: 224, 226, 219;
}

a {
  font-weight: 500;
  color: var(--alabaster);
  text-decoration: inherit;
}
a:hover {
  color: var(--plum);
}

body {
  display: flex;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--jet);
    background-color: rgba(var(--alabaster));
  }
  a:hover {
    color: var(--plum);
  }
  button {
    background-color: #f9f9f9;
  }
}
.btn {
  display: flex;
  width: min(100%, 26rem);
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: #000;
  cursor: pointer;
  transition: .2s;
  border: .1rem solid transparent;
  font-weight: bold;
  font-size: 1.8rem;
}
.btn:hover {
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,.7);
}
.primaryBtn {
  background: rgba(var(--royal-purple));
  text-transform: uppercase;
}
.primaryBtn:hover {
  background: rgba(var(--royal-purple),.5);
}
.secundaryBtn {
  background: transparent;
  border: .1rem solid rgba(var(--xanthous));
  color: rgba(var(--xanthous));
}
.secundaryBtn:hover {
  background: rgba(0,0,0,.3);
}