---
interface Props {
	title: string;
}

const { title } = Astro.props;
const {currentLocale} = Astro

// -*-*-*-*-*-*- IMPORT ASTRO COMPONENTS -*-*-*-*-*-*-
import Navbar from '@/components/Navbar.astro';
import Home from '@/components/Home.astro'
import { imageConfig } from 'astro:assets';

import '../styles/reset.css'
import '../styles/vars.css'
import '../styles/main.css'
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="svg" href="/kp.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		justify-content: center;
		background: rgba(var(--bg));
		color: rgba(var(--text));
		transition: .3s all ease;
	}
</style>

<script src="../js/main.js"></script>
